*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

#head{
    display: flex;
    flex-flow: column;
    height: 100svh;
    justify-content: center;
    align-items: center;
    background-image: url("images/background.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
}

#head img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    border:4px solid crimson;
}

#head h2{
    color:antiquewhite;
    font-size: 2rem;
}

#main{
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-template-rows: auto;
    padding: 5%;
}
.main__div{
    padding: 5px;
    text-align: justify;
    padding-right: 10px;
}

.footer__div{
    background-color: bisque;
    padding-left: 5%;
}